<!DOCTYPE html>

<!--
.  .                 .  .                    .               
|- |-. ,-.   ,-. ,-. |- |- ,-. ,-. ,-.   ,-. |-. ,-. ,-. ,-. 
|  | | |-'   | | ,-| |  |  |-' |   | |   `-. | | ,-| |   |-' 
`' ' ' `-'   |-' `-^ `' `' `-' '   ' '   `-' ' ' `-^ '   `-' 
             |                                               
-->

<html manifest="taumetatau.appcache">

<head>
    <meta charset="utf-8">
	<title>The Pattern Share</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

	<link rel="stylesheet" type="text/css" href="css/bootstrap.united.min.css">
	<!--link rel="stylesheet" type="text/css" href="css/bootstrap-responsive.min.css"-->
	<link rel="stylesheet" type="text/css" href="css/app.css">
	<!--link rel="stylesheet" type="text/css" href="css/style.css"-->
	<link rel="shortcut icon" href="images/fav.png" type="image/x-icon" />

</head>
</body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#" style="padding:6px 20px;"><img src="images/headerlogo.png" style="height:25px"/></a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li id="menuMeasurements"><a href="#measurements">Measurements</a></li>
              <li id="menuPatterns"><a href="#patterns">Patterns</a></li>
              <li id="menuAbout"><a href="#about">About</a></li>
            </ul>
            <form class="navbar-form pull-right">
              <input class="span2" type="text" placeholder="Username (doesn't)">
              <input class="span2" type="password" placeholder="Password (work)">
              <button type="submit" class="btn">(Yet...)</button>
            </form>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>



<div id="wrapper" class="container"></div>


<footer>
	<div class="container">
		<p class="pull-right">We're Sew Buzzed</p>
	</div>
</footer>


<script id="aboutTemplate" type="text/template">
	<div class="row">
		<div class="span6">
			<h1>About Us</h1>
			<p>
			This site is a collaboration between the <a class="plink" href="http://www.taumeta.org/">Tau Meta Tau Physica</a>
			and <a class="plink" href="http://thepatternshare.com/">The Pattern Share</a> project.
			</p>
			<p>
			The <a class="plink" href="http://www.taumeta.org/">Tau Meta Tau Physica</a> project was founded by Susan Spencer
			to meet a need for digital pattern making. In the last two years, the project has been implemented as a batch-mode
			application written in Python, and is currently being converted to an HTML5 web application. 
			</p>
			<p>
			The <a class="plink" href="http://thepatternshare.com/">The Pattern Share</a> project is a masters project by
			designer <a class="plink" href="http://www.justincouchdesign.com">Justin Couch</a>, who attends the Rhode Island School of Design.
			</p>
			<p>
			Major code contributions to the TMTP project were made by <a class="plink" href="http://www.ai4qr.com">Steve Conklin</a>, an open source software developer.
			</p>
			<p>
			Web site development and styling by Molly Richardson, founder of <a class="plink" href="http://www.mr21solutions.com/">MR 21 Solutions</a>.
			</p>

			<h1>Press and Video</h1>
			<p>
			<a class="plink" href="http://river-valley.tv/open-source-project-to-enable-fashion-design-using-open-data-formats/">Susan's presentation at Libre Graphics Meeting 2010 (video)</a>
			</p>
			<p>
			<a class="plink" href="http://www.youtube.com/watch?v=Cd35-2xcfbk">Susan's presentation at Libre Graphics Meeting 2011 (video)</a>
			</p>
			<p>
			<a class="plink" href="http://www.linux-magazine.com/Online/News/Tau-Meta-Tau-Physica-Bringing-Open-Source-to-Fashion">Susan's interview with Linux Magazine, Jan 7, 2011</a>
			</p>
			<h1>Thank Yous</h1>
			<p>
			Shout outs!
			</p>
		</div>
	</div>
</script>

<script id="todoTemplate" type="text/template" >

	<div class="markdown-body">
		<h1>TO DO</h1>

		<p>Measurements view:</p>

		<ul>
		<li>edit app-defaults.js to make default measurements available (man/woman)</li>
		<li>better layout for the form, with helper images</li>
		<li>unit conversion cm &lt;--&gt; in</li>
		<li>ability to delete measurement</li>
		<li>ability to save/restore measurements from file</li>
		</ul>
		
		<p>Patterns view:</p>

		<ul>
		<li>ability to render pattern from custom measurements</li>
		<li>save to SVG</li>
		</ul>
		
		<p>Back-end:</p>

		<ul>
		<li>database structure</li>
		<li>user log-in</li>
		<li>receive requests for saving JSON data from webapp</li>
		</ul>		
		
		<p>Other:</p>

		<ul>
		<li>use require.js for better organization</li>
		</ul>
    </div>
</script>

<script id="patternsTemplate" type="text/template">
<form id="patternInput" class="">
	<div class="row form-inline">
		<div class="measwrapper span12">
			<!--h1>Patterns</h1-->
			<div class="well">	
				<select id="patternCustomerSelect">
					<option value="dummy">1. Select Customer...</option>
					<% for (var i in customers) { %>
						<option value="<%- customers[i].cid %>" <% if (customers[i].cid == bodyCurrent.cid) { %> selected <% } %>><%- customers[i].attributes.clientdata.customername %></option>
					<% } %>
				</select>
				<select id="patternSelect">
					<option value="dummy">2. Select Pattern...</option>
					<% for (var i in patterns) { %>
						<option value="<%- patterns[i].cid %>" <% if (patternCurrent && patterns[i].cid == patternCurrent.cid) { %> selected <% } %>><%- patterns[i].attributes.pattern.title %></option>
					<% } %>
				</select>
				
				<label class="checkbox">
					<input type="checkbox" id="constopt" <% if (options.constopt){ %> checked <% } %> />Construction
				</label>
				<label class="checkbox">
					<input type="checkbox" id="constptopt" <% if (options.constptopt){ %> checked <% } %> />Points
				</label>
				<label class="checkbox">
					<input type="checkbox" id="gridopt" <% if (options.gridopt){ %> checked <% } %>/>Grid
				</label>
				
				<!--button id="renderSvg" class="btn btn-danger pull-right"> Render the pattern! </button-->
				<button id="saveSvg" class="btn btn-danger pull-right"> Save as SVG </button>

			</div>
		</div>
	</div>
</form>
<hr>
<div id="stage" class="row">
	
</div>
</script>

<script id="patternsRenderTemplate" type="text/template">
	<div id="parameters" class="span3">
		<!--h3>Parameters</h3-->
		<% for (var i in parameters) { %>
			<label><%- i %></label>
			<input class="parameter" id="<%- i %>" type="number" value="<%- parameters[i] %>"/>
		<% } %>
	</div>
	<div class="span9">
		<div id="drawing" class="" >
			<!--h3>Rendering Surface</h3-->
		</div>
	</div>
</script>

<script id="measurementTemplate" type="text/template">
<form id="measurementInput" class="">
	<div class="row form-inline">
		<div class="measwrapper span12">
			<!--h1>Measurements</h1-->
			<div class="well control-group">	
				<input type="text" id="customername" placeholder="Customer Name" value="<%= data.attributes.clientdata.customername %>">
				<input type="text" id="customerid" value="<%= data.cid %>" style="display: none;">
				<select id="customerSelect">
					<option>Select Customer...</option>
					<% for (var i in customers) { %>
						<option value="<%- customers[i].cid %>"><%- customers[i].attributes.clientdata.customername %></option>
					<% } %>
				</select>
				
				<label class="radio">
					<input type="radio" id="cm" name="units" <% if(data.attributes.clientdata.units == "cm"){ %> checked="true" <%}%> /> Centimeters
				</label>
				<label class="radio">
					<input type="radio" id="in" name="units" <% if(data.attributes.clientdata.units == "in"){ %> checked="true" <%}%> /> Inches
				</label>
				<button id="saveMeasurements" class="btn btn-danger pull-right" type="submit"> SAVE </button>
				<button id="newMeasurements" class="btn btn-warning pull-right" type="submit"> NEW </button>

			</div>
		</div>
	</div>
	<div id="alertSaved" class="alert">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<b>Hooray!</b> You just saved measurements for customer <b><%= name %></b>
	</div>

	<div class="row">
		<div id="drawarea" class="drawarea">
			
				
				<% for (var i in data.attributes.clientdata.measurements) { %>
					<div class="span2 control-group">
						<label><%- title[i] %></label>
						<input type="text" id="<%- i %>" placeholder="" value="<%- data.attributes.clientdata.measurements[i] %>" class="span2 numerical">
					</div>
				<% } %>
		</div>
	</div>
</form>


</script>

<script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>

<script type="text/javascript" src="js/underscore-min.js"></script>
<script type="text/javascript" src="js/backbone-min.js"></script>

<script type="text/javascript" src="js/patterndraw.js"></script>
<!--script type="text/javascript" src="js/web.js"></script-->
<script type="text/javascript" src="js/app-defaults.js"></script>
<script type="text/javascript" src="js/app.js"></script>

</body>

</html>
