<!DOCTYPE html>

<!--
.  .                 .  .                    .               
|- |-. ,-.   ,-. ,-. |- |- ,-. ,-. ,-.   ,-. |-. ,-. ,-. ,-. 
|  | | |-'   | | ,-| |  |  |-' |   | |   `-. | | ,-| |   |-' 
`' ' ' `-'   |-' `-^ `' `' `-' '   ' '   `-' ' ' `-^ '   `-' 
             |                                               
-->

<html>

<head>
	<title>The Pattern Share</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="shortcut icon" href="fav.png" type="image/x-icon" />
</head>
</body>

<div class="header-holder">
	<div class="header">
		<a href="http://www.sewbuzzed.com/sharedemo/"><img src="images/headerlogo.png"/></a> (with TMTP)
		<div class="headnav">
			<a id="menu" href="index.html">Home</a>
			<a id="menu_a" href="measurements.html">Measurements</a>
			<a id="menu" href="patterns.html">Patterns</a>
			<a id="menu" href="about.html">About</a>
		</div>
	</div>
</div>

<div class="draw-wrapper container">
	<div class="row">
		<form id="measurementInput">
			<div class="measwrapper span3">
				<div class="pmtitle">
				  Measurements
				</div>
				<div id="measurements" class="measurements">
					<label class="radio">
						<input type="radio" id="cm" name="units" checked="true" /> Centimeters
					</label>
					<label class="radio">
						<input type="radio" id="in" name="units" /> Inches
					</label>
				</div>
				<div id="savebuttondiv" class="measurements">
					<button id="saveMeasurements" type="submit"> Save measurements! </button>
				</div>
				<h4>Customers:</h4>
				<div id="customers"></div>
			</div>
			
			<div id="drawarea" class="drawarea span9"></div>
		</form>
	</div>
</div>
<div class="footer">
	We're Sew Buzzed
</div>

<script id="inputTemplate" type="text/template">
	<label  for="customername">Customer Name</label>
	<input type="text" id="customername" placeholder="John Doe" class="span6">
	<hr>
	
	<% for (var part in data){ %>
	<div class="row">	
		<h4 class="span9"><%- part.toUpperCase() %></h4>
		<% for (var i in data[part]) { %>
			<div class="span3">
				<label><%- data[part][i].title %></label>
				<input type="text" id="<%- i %>" placeholder="<%- data[part][i].val %>">
			</div>
		<% } %>
	</div>
	<% } %>
</script>

<script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/underscore-min.js"></script>
<script type="text/javascript" src="js/backbone.js"></script>
<!--script type="text/javascript" src="js/backbone-indexeddb.js"></script-->
<script type="text/javascript" src="js/patterndraw.js"></script>
<script type="text/javascript" src="js/web.js"></script>
<script type="text/javascript" src="js/universal.js"></script>
<script type="text/javascript" src="js/app.js"></script>
<script type="text/javascript" src="js/app-db.js"></script>
</body>

</html>
