body, select, input, textarea {
	font-family: "Lucida Grande", Geneva, Verdana, Arial, sans-serif;
	color: #777;
}

a:link {
	color:#fff;
	text-decoration: none;
}
a:visited {
	color:#fff;
	text-decoration: none;
}

.header-holder {
	width: 100%;
	background-color: #FC9D9A;
}

.header {
	margin: 0 auto;
	width: 950px;
	height: 48px;
	padding-top: 12px;
	padding-left: 10px;
	color: #fff;
	background-color: #FE4365;
}

.content-holder {
	margin: 0 auto;
	width: 960px;
	background-color: #fff;
}

.imagebox {
	width: 210px;
	height: 235px;
	float: left;
	margin-left: 13px;
	margin-right: 13px;
	margin-top: 30px;
	padding-top: 5px;
	background-color: #f7f7f7;
	border: solid;
	border-color: #999;
	border-width: 1px;
	text-align: center;
	font-size: 12px;
}

.aboutbox {
	width: 424px;
	float: left;
	margin-left: 13px;
	margin-right: 13px;
	margin-top: 30px;
	padding: 13px;
	background-color: #f7f7f7;
	border: solid;
	border-color: #999;
	border-width: 1px;
	font-size: 12px;
}

.rightbar {
	width: 190px;
	height: 100%;
	padding: 30px 5px 30px 5px;
	float: left;
	background-color: #eeeeee;
}

.draw-wrapper {
	width: 960px;
	height: 100%;
	margin: 0 auto;
}

.measwrapper {
	width: 180px;
	float: left;
}

.pmtitle {
	font-size: 16px;
	margin: 5px;
	padding: 5px;
	color: #555;
	background-color: #eee;
}

.pmbutton {
	font-size: 10px;
	margin: 5px;
	padding: 5px;
	color: #555;
	background-color: #eee;
}

.popupDiv {
   z-index: 100;
   position: fixed;
   display: none;
}

#popupSelectM{
   z-index: 1000;
   position: fixed;
   width: 175px;
}

#popupSelectP{
   z-index: 1000;
   position: fixed;
   width: 175px;
}

.measurements {
	font-size: 10px;
	margin: 5px;
	padding: 5px;
	color: #555;
	background-color: #eee;
}

.drawarea {
	width: 750px;
	height: 550px;
	margin: 5px;
	padding: 5px;
	float: left;
	border: solid;
	border-color: #999;
	border-width: 1px;
}

.headnav{
	float: right;
	font-size: 18px;
	font-weight: 200;
	color: #fff;
	padding-top: 12px;
	padding-right: 20px;
}
